:root{
    --dw-primaryColor: rgb(173,153,216);
    --dw-secondaryColor:rgb(104,36,115);
    --formFocusColor: var(--dw-secondaryColor);
    --formFocusShadowColor: rgba(244,119,255,0.5);
}
body{
   font-family: 'Roboto', sans-serif;
}
.form-control:focus{
    border-color: var(--formFocusColor);
    box-shadow: 0 0 0 .25rem var(--formFocusShadowColor);

}
.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.navbar-brand .title{
    font-size: 5rem;
}

.title{
    font-family: 'Birthstone', cursive;
}
.header{
    
    background-repeat: none;
    background-size: cover;
    background-position: fixed;
    background-image: radial-gradient(circle 827px at 47.3% 48%, rgba(255, 255, 255, 1) 0%, rgb(170, 108, 228) 90%);
    
    
}

@media only screen and (min-width: 992px){
    .header{
        background-image: url('/img/DanielleWestLarge.png');
        min-height: 400px;
    }
}
@media only screen and (min-width: 576px) and (max-width:991px) {
    .header{
        background-image: url('/img/DaniellWestSmall.png');
        
    }
}

